body {
  background: #020204;
  color: #f9f9f9;
  font-family: "Euclid Circular B", "Poppins";
}

* {
  box-sizing: border-box;
}

:root {
  --fancy-border: 2px dotted rgb(255 255 255 / 25%);
}

footer {
  position: absolute;
  left: 56px;
  right: 56px;
  bottom: 112px;
  display: grid;
  gap: 48px;
}

.hero {
  overflow: hidden;
  position: relative;
  padding: 56px;
  background: #692acc;
  border-radius: 12px;
}

.hero .bg {
  position: absolute;
  right: -50px;
  bottom: 0;
  width: 50vw;
}

.hero .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

h2,
h3,
p {
  margin: 0;
}

.hero h2 {
  font-size: clamp(30px, 6vw, 50px);
  font-weight: 400;
}

.hero p {
  font-size: 17px;
  opacity: 0.7;
  margin-top: 8px;
  max-width: 45%;
  display: none;
}

.box-btn {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: 24px 16px;
  height: 100px;
  width: 21vw;
  min-width: 200px;
  border-radius: 4px;
  background: transparent;
  font-family: inherit;
  color: inherit;
  font-size: 18px;
  border: 2px solid rgb(255 255 255 / 65%);
}

.support-btn {
  display: none;
}

.box-btn::after {
  content: "";
  position: absolute;
  inset: 0;
  top: 10px;
  left: 10px;
  border-radius: inherit;
  border-right: var(--fancy-border);
  border-bottom: var(--fancy-border);
  margin-right: -10px;
  margin-bottom: -10px;
}

.box-btn span {
  position: absolute;
  top: 16px;
  right: 16px;
}

.logo {
  position: absolute;
  top: 56px;
  right: 56px;
  height: 48px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 58px;
  padding: 0 24px 0 56px;
}

nav {
  flex: 1 1 auto;
  display: flex;
  gap: 10vw;
}

nav h3 {
  font-size: 20px;
  margin-bottom: 12px;
  opacity: 0.4;
  font-weight: 400;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav a {
  display: inline-block;
  font-size: 20px;
  padding: 10px 0;
}

@media (width >= 860px) {
  .hero .bg {
    right: 0;
  }

  nav {
    gap: 8vw;
  }

  .content {
    flex-direction: row;
    gap: 0;
  }

  .support-btn {
    display: flex;
  }
}

@media (width >= 1036px) {
  .hero p {
    display: block;
  }

  .logo {
    height: 36px;
  }

  .content {
    align-items: flex-start;
    gap: 0;
  }

  .logo {
    margin-right: 72px;
    position: static;
  }
}
