* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 56px;
  font-family: "SF Pro";
  background: #ebebeb;
  color: #59585d;
}

nav {
  position: fixed;
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0 20px;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  background: #ffffff;
  box-shadow: 0 0 40px rgb(0 0 0 / 12%);
}

nav span {
  font-size: 22px;
}

nav div {
  display: flex;
  gap: 8px;
  margin-left: auto;
  opacity: 0.8;
}

section {
  display: flex;
  background: #ffffff;
  padding: 20px 0;
}

header {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 120px;
  margin: 0;
  padding: 0 20px;
  color: #f9f9f9;
  background: #623bf0;
  font-weight: 400;
  font-size: 18px;
}

header > .material-symbols-outlined {
  font-size: 20px;
}

.filters {
  position: sticky;
  z-index: 1;
  top: 76px;
  width: 160px;
  height: 100%;
  padding: 0 20px;
}

.filters h2 {
  opacity: 0.6;
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 10px;
}

.filters label {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 26px;
  font-size: 14px;
}

.filters input {
  margin: 0;
  accent-color: #623bf0;
}

.grid {
  flex: 1 1 auto;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(3, 1fr);
  padding-right: 20px;
}

.grid-item {
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 12px 40px rgb(0 0 0 / 8%);
}

.grid-item img {
  width: 100px;
  height: 150px;
  object-fit: contain;
}
