body {
  color: #f9f9f9;
  background: #121212;
  font-family: "Euclid Circular A", "Poppins";
}

* {
  box-sizing: border-box;
}

nav {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 6px;
  translate: -50% -90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 72px;
  padding: 0 20px;
  background: #1e1e1e;
  box-shadow: 0 0 20px rgb(0 0 0 / 6%);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 36px;
  padding: 0;
  margin-left: 4px;
  margin-right: 6px;
}

span.material-symbols-outlined {
  display: grid;
  place-items: center;
  width: 40px;
  height: 72px;
  font-size: 24px;
}

nav h2 {
  font-size: 19px;
  font-weight: 400;
}

.nav-right > img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: contain;
  margin-left: 8px;
}

button {
  background: transparent;
  border: 0;
  color: inherit;
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
}

.dropdown {
  cursor: pointer;
  position: relative;
  display: grid;
  place-items: center;
  height: 72px;
}

.dropdown > button {
  position: relative;
  display: grid;
  place-items: center;
  width: 36px;
  height: 36px;
  background: transparent;
}

.dropdown > button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  scale: 0.25;
  opacity: 0;
  background: rgb(255 255 255 / 8%);
  transition: 0.2s;
}

.dropdown:hover > button::before {
  scale: 1;
  opacity: 1;
}

.menu {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 64px;
  right: -20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  translate: 0 16px;
  width: 270px;
  max-height: 286px;
  padding: 10px;
  background: #2d2d2d;
  border-radius: 8px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  appearance: none;
}

.menu::-webkit-scrollbar {
  width: 15px;
}

.menu::-webkit-scrollbar-thumb {
  background: rgb(255 255 255 / 16%);
  border-radius: 10px;
  border: 4px solid transparent;
  background-clip: padding-box;
}

.dropdown:hover > .menu {
  opacity: 1;
  visibility: visible;
  translate: 0;
}

.menu > button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  font-family: inherit;
}

.menu > button > img {
  width: 64px;
  height: 64px;
  padding: 16px;
}

.menu > button > span:first-child {
  display: block;
  width: 64px;
  height: 64px;
  scale: 0.7;
  background-image: url(icons.png);
  background-position: 0 -3105px;
  background-size: 64px 3307px;
  background-repeat: no-repeat;
}

.menu > button > span:last-child {
  font-size: 12px;
  translate: 0 -12px;
}
