body {
  background: #651acd;
  font-family: "Euclid Circular A", "Poppins";
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 0 30px;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.signup-button {
  gap: 10px;
  padding: 0 20px 0 20px;
  width: 100%;
  height: 56px;
  background: #7c25f7;
  border: 0;
  border-radius: 6px;
  color: #f9f9f9;
  font-family: inherit;
  font-size: 16px;
}

.card {
  width: 100%;
  background: #1a161f;
  border-radius: 12px;
  padding: 0 40px 50px;
  box-shadow: 0 10px 30px rgb(0 0 0 / 24%);
}

.card-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  background: #7c25f7;
  color: #f9f9f9;
  margin: -85px 0 40px;
  border-radius: 12px;
  height: 170px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px;
  text-align: center;
  box-shadow: 0 16px 30px rgb(0 0 0 / 12%);
}

@media (width > 470px) {
  body {
    padding: 0;
  }

  .card {
    width: 60%;
    min-width: 408px;
  }
}

@media (width > 750px) {
  .card {
    border-radius: 0;
    min-width: auto;
  }

  .card-inner {
    background: #1a161f;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 7%;
    width: 50%;
  }

  .header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    margin: 0;
    padding-left: 10%;
    text-align: left;
  }
}

.card img {
  height: 40px;
  margin-bottom: 40px;
}

.card h2 {
  margin: 0 0 10px;
  font-size: 28px;
  font-weight: 400;
}

.card h3 {
  margin: 0;
  opacity: 0.6;
  font-size: 22px;
  font-weight: 400;
}

.card form {
  display: grid;
  gap: 16px;
}

.card .textbox {
  position: relative;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
}

.card .textbox span {
  position: relative;
  z-index: 1;
  left: 16px;
  font-size: 20px;
  color: #96939c;
  pointer-events: none;
}

.card input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  background: rgb(255 255 255 / 8%);
  height: 56px;
  border-radius: 6px;
  font-family: inherit;
  padding: 0 16px 0 44px;
  font-size: 16px;
}

.card input::placeholder {
  color: #96939c;
}

.card-inner > p {
  color: #96939c;
  margin: 30px 0 0;
  text-align: center;
}
