body {
  background: #f8f9fb;
  font-family: "Euclid Circular A", "Poppins";
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.signup-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 0 20px 0 20px;
  width: 100%;
  height: 56px;
  background: #161022;
  border: 0;
  border-radius: 6px;
  color: #f9f9f9;
  font-family: inherit;
  font-size: 16px;
}

.modal {
  width: 430px;
  background: #ffffff;
  border-radius: 12px;
  padding: 0 40px 50px;
  box-shadow: 0 10px 30px rgb(0 0 0 / 24%);
}

.modal header {
  background: linear-gradient(90deg, #773ecb, #9f63ff);
  color: #f9f9f9;
  margin: -85px -20px 40px;
  border-radius: 12px;
  height: 170px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 40px;
  box-shadow: 0 16px 30px rgb(0 0 0 / 12%);
}

.modal img {
  height: 40px;
  margin-bottom: 40px;
}

.modal h2 {
  margin-bottom: 10px;
  font-size: 29px;
}

.modal h3 {
  opacity: 0.45;
  font-weight: 400;
}

.modal form {
  display: grid;
  gap: 16px;
}

.modal .textbox {
  position: relative;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
}

.modal .textbox span {
  position: relative;
  z-index: 1;
  left: 16px;
  font-size: 20px;
  color: #96939c;
  pointer-events: none;
}

.modal input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border: 0;
  background: #ececec;
  height: 56px;
  border-radius: 6px;
  font-family: inherit;
  padding: 0 16px 0 44px;
  font-size: 16px;
}

.modal input::placeholder {
  color: #96939c;
}

.modal > p {
  color: #96939c;
  margin: 30px 0 0;
}
