body {
  font-family: "Euclid Circular A", "Poppins";
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 0 30px;
  margin: 0;
}

* {
  box-sizing: border-box;
}
button,
input {
  border: 0;
  width: 100%;
  height: 60px;
  background: transparent;
  font-family: inherit;
  font-size: 16px;
  outline: none;
}

.signup {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  max-width: 460px;
  padding: 200px 40px;
  background: rgb(68 65 70 / 28%);
  backdrop-filter: blur(50px);
}

.signup > h2 {
  font-size: 32px;
  font-weight: 400;
  margin: 0 0 6px;
  color: rgb(255 255 255 / 96%);
}

.signup > h3 {
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 30px;
  color: rgb(255 255 255 / 40%);
}

.form {
  margin: 0;
  display: grid;
  gap: 16px;
}

.textbox {
  position: relative;
  margin-bottom: 16px;
}

.textbox span {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  left: 0;
  font-size: 22px;
  pointer-events: none;
  color: rgb(255 255 255 / 40%);
}

.textbox input {
  padding: 0 24px 0 36px;
  border-bottom: 2px solid rgb(255 255 255 / 5%);
  color: rgb(255 255 255 / 96%);
  height: 72px;
  transition: 0.3s;
}

:is(input:focus, input:valid) ~ label {
  translate: -40px -40px;
  scale: 0.875;
}

input:focus ~ label {
  color: rgb(255 255 255 / 40%);
}

input:focus {
  border-color: rgb(255 255 255 / 76%);
}

:is(input:focus, input:valid) ~ span {
  color: rgb(255 255 255 / 76%);
}

.textbox label {
  position: absolute;
  top: 50%;
  left: 36px;
  translate: 0 -50%;
  color: rgb(255 255 255 / 40%);
  pointer-events: none;
  transition: 0.4s;
}

.form button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  padding: 0 24px;
  border-radius: 6px;
  background: rgb(255 255 255 / 12%);
  color: #f9f9f9;
  border: 0;
  font-family: inherit;
  font-weight: 600;
}

.signup p {
  margin: 0 0 22px;
  color: rgb(255 255 255 / 50%);
}

.signup p > a {
  color: rgb(255 255 255 / 96%);
  text-decoration: none;
}
