* {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  padding: 60px 15%;
  margin: 0;
  color: #f7f7f7;
  background: #121212;
  font-family: "Euclid Circular A", "Poppins";
}

.background {
  position: fixed;
  z-index: -1;
  top: -33vh;
  left: -100px;
  right: -100px;
  height: 60vmax;
  rotate: -4deg;
  background: #4f97ff;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  padding: 50px 50px 70px;
  background: #1e1e1e;
  font-size: 125%;
}

.primary {
  order: -1;
}

.primary .card var {
  font-size: 60px;
}

.grid {
  display: grid;
  place-items: center;
  gap: 20px;
  width: 100%;
}

.grid > div {
  width: 100%;
}

@media (width >= 768px) {
  body {
    height: 100vh;
    padding: 60px 20px;
  }

  .grid {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2, 1fr);
  }

  .grid > div {
    height: 100%;
  }

  .primary {
    order: -1;
    grid-column: 1 / 3;
  }

  .primary .card {
    max-width: 45vw;
    margin: 0 auto;
  }

  .background {
    top: -25vh;
  }
}

@media (width >= 980px) {
  .grid {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
  }

  .grid > div {
    height: auto;
  }

  .primary {
    order: 0;
    grid-column: auto;
  }

  .background {
    top: -100px;
  }
}

p,
h2 {
  margin: 0;
}

.card var {
  color: #4087ed;
  font-weight: 400;
  font-size: 50px;
  font-style: normal;
  margin-bottom: 10px;
}

.card var small {
  font-size: 16px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
}

ul li {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 6px 0;
}

ul li img {
  width: 16px;
}

.card button {
  display: grid;
  place-items: center;
  min-width: 200px;
  padding: 14px 0;
  border-radius: 6px;
  border: 2px solid #4087ed;
  background: transparent;
  color: #4087ed;
  font-size: inherit;
  font-family: inherit;
}

.card button.btn-primary {
  background: #4087ed;
  color: #f7f7f7;
}
