body {
  background: #1a1c22;
  font-family: "Euclid Circular B", "Poppins";
}

* {
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  padding: 0 20px;
  height: 72px;
  width: 100%;
  background: #2d2e40;
  color: #f7f7f7;
  box-shadow: 0 10px 50px rgb(0 0 0 / 2%);
}

.navbar a {
  padding: 0 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 72px;
  font-size: 15px;
}

.navbar > img {
  height: 26px;
  width: 120px;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  height: 222px;
}

.menu:hover .dropdown,
.menu a:hover ~ .dropdown,
.dropdown:hover {
  display: grid;
}

.menu > a {
  width: 90px;
  height: 330px;
  opacity: 0.5;
  transition: 0.3s;
}

.menu > a:nth-child(1):hover ~ .dropdown {
  translate: 130px 0;
}

.menu > a:nth-child(2):hover ~ .dropdown {
  translate: 220px 0;
}

.menu > a:nth-child(3):hover ~ .dropdown {
  translate: 310px 0;
}

.menu > a:nth-child(1):hover ~ .dropdown .dropdown-1,
.menu > a:nth-child(2):hover ~ .dropdown .dropdown-2,
.menu > a:nth-child(3):hover ~ .dropdown .dropdown-3 {
  display: block;
}

.dropdown {
  pointer-events: none;
  position: absolute;
  z-index: 1;
  top: 72px;
  left: 0;
  width: 140px;
  padding: 16px 10px 6px;
  height: max-content;
  display: none;
  transition: 0.3s;
  transition: 0.3s;
}

.navbar a:hover {
  opacity: 1;
}

.dropdown::after {
  content: "";
  position: absolute;
  z-index: 0;
  inset: 0;
  top: 10px;
  background: #2d2e40;
  border-radius: 8px;
}

.dropdown > div > a {
  position: relative;
  z-index: 1;
  height: 40px;
  font-size: 14px;
  opacity: 0.5;
  white-space: nowrap;
}

.dropdown > div {
  display: none;
}
