* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f0f0ff;
  color: rgb(255 255 255 / 95%);
  height: 100vh;
  font-family: "Euclid Circular A";
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 64px;
  background: #1d1b24;
  transition: width 0.4s;
}

.sidebar nav {
  padding: 0 8px;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 72px;
  padding: 0 20px 0 8px;
  background: rgb(0 0 0 / 25%);
}

.header img {
  height: 24px;
  margin-left: 14px;
}

.header h1,
.sidebar a p {
  position: absolute;
  top: 50%;
  left: 42px;
  translate: 0 -50%;
  opacity: 0;
  margin: 0;
  font-size: 12px;
  white-space: nowrap;
  transition: 0.175s;
}

.sidebar i {
  font-size: 15px;
}

.header h1 {
  left: 50px;
  font-weight: normal;
  font-size: 16px;
}

.sidebar:hover {
  width: 180px;
}

.sidebar:hover :is(a p, .header h1) {
  opacity: 1;
}

.sidebar a {
  position: relative;
  display: flex;
  align-items: center;
  gap: 16px;
  height: 44px;
  width: 100%;
  border-radius: 6px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  padding: 0 0 0 16px;
  color: rgb(255 255 255 / 95%);
  opacity: 0.5;
  cursor: pointer;
}

.sidebar a:hover {
  background: rgb(255 255 255 / 8%);
  opacity: 1;
}
