body {
  background: #232335;
  color: #e8f0fb;
  font-family: "Space Grotesk", sans-serif;
}

:root {
  --color-primary: #908dcb;
}

* {
  box-sizing: border-box;
}

footer {
  position: fixed;
  left: 48px;
  bottom: 58px;
  right: 48px;
  padding: 48px;
  border-radius: 16px;
  background: rgb(0 0 0 / 30%);
  backdrop-filter: blur(20px);
}

.top,
.bottom {
  display: flex;
  gap: 48px;
}

.top {
  margin-bottom: 24px;
}

.bottom {
  padding: 32px 0 0;
  align-items: center;
  border-top: 2px solid #2e2d42;
}

.top:is(.left, .right) {
  flex: 1 1 50%;
}

.bottom {
  gap: 24px;
}

.bottom .left {
  flex: 1 1 auto;
}

h2 {
  margin: 0 0 12px;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
}

h2,
p {
  color: var(--color-primary);
}

p {
  margin: 0;
}

blockquote {
  padding: 0 24px 0 0;
  margin: 0 0 24px;
  font-size: 24px;
}

button {
  background: #e8f0fb;
  color: #000017;
  font-family: inherit;
  display: inline-flex;
  gap: 8px;
  align-items: center;
  border: 0;
  border-radius: 40px;
  padding: 12px 24px 12px 28px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

button .material-symbols-outlined {
  font-size: 20px;
}

.links {
  display: flex;
  gap: 48px;
  padding-right: 48px;
}

ul {
  list-style: none;
  padding: 0;
  display: grid;
  margin: 0;
  flex: 1 1 50%;
}

ul li {
  display: flex;
  flex-direction: column;
  margin: 0 0 12px;
}

ul li a {
  margin: 0 0 14px;
}

.socials {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  font-size: 20px;
}

@media (width <= 734px) {
  .top {
    flex-direction: column;
  }

  blockquote {
    padding-right: 0;
  }
}

@media (width <= 620px) {
  .bottom {
    flex-direction: column-reverse;
  }

  .links {
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
  }

  .top .left {
    text-align: center;
  }

  blockquote {
    padding-left: 58px;
    padding-right: 58px;
  }
}
